@{
    ViewData["Title"] = "Return";
}

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">Thank you!</h1>
        <p class="fs-3"> Đặt hàng thành công. Đơn hàng sẽ nhanh chóng được chuyển đến bạn trong vài ngày tới <i
                class="fa-solid fa-check" style="color: #00fa1d;"></i> `</p>
        <p class="fs-3"> Cảm ơn bạn rất nhiều <i class="fa-solid fa-heart" style="color: #e23e2c;"></i></p>
        <a href="/" class="btn btn-primary">Go Home</a>
    </div>
</div>